{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
        {% for movie in movies %}
            <div class="cold-lg-3 mx-2 mb-2">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{movie.poster}}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text mb-0"><b>{{ movie.name }}</b></p>
                        <p class="card-text small mt-0"><b>Director:</b> {{ movie.director_name }}</p>
                        <div class="container">
                            <div class="row justify-content-center">
                                <button class="btn btn-sm btn-success mb-2"><i class="fa fa-eye"></i> View comments
                                </button>
                                <button class="btn btn-sm btn-warning"><i class="fa fa-plus"></i> Add comment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
